<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>c h e c k o u t</title>
</head>
<body>
  <h1>c h e c k o u t</h1>
  <p> <%= @session[:item] %> </p>
</body>
</html>
