<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2>Insert and Item: </h2>
    <form action = "/checkout" method = "POST">
      <input type = "text" name = "item">
      <button  name = "submit">submit</button> 
    </form>
    <% params[:item] %>
  </body>
</html>
