<h1>Shopping Heaven</h1>
<h2>What would you like to purchase?</h2>
<form action='/checkout' method=POST>
<label>Item you would like to purchase: <input type='text' name="item" id="item" /></label>
<input type="submit" id="submit" />
</form>
