<!doctype html>
<html>
<head>
  <title>Add To Cart</title>
  Add your item to cart!
</head>
<body>
  <h1>
    <form action="/checkout" method="POST">
    </h3>Item: <input type="text" name="item"></h3>

      <input type="submit" id="submit" value="Checkout">
    </form>
  </h1>
</body>
</html>
