<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
    </head>
    <body>

        <form action="/checkout" method="post">
          <input type="text" name="cart">
          <input type="submit" name="submit" value="Submit" id="submit">
        </form>

    </body>
</html> -->

<form action="/checkout" method="post">
  <input type="text" name="item">
  <input type="submit" name="submit" value="Submit" id="submit">
</form>
