<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barebones Store</title>
</head>
<body>
  <h1>Barebones Store</h1>
  <form action="/checkout" method="POST">
    <p>Enter an item:<input type="text" name="item"></p>
    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>
