<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About A E S T H E T I C S</title>
</head>
<body>
  <h1>a e s t h e t i c  |  f o r m</h1>
  <form action="/checkout" method="POST">
    <p>c a r t : <input type="text" name="item"></p>
    <input type="submit" name="submit" id="submit">
  </form>
</body>
</html>
