<!DOCTYPE html>

<html>
  <body>
    <form action="/checkout" method="POST">
      <label>Enter Item to Purchase</label>
      <input type="text" name="item">

      <input type="submit" value="submit">
    </form>
  </body>
</html>
