<form action='/checkout' method='POST'>
  <p>
    <label for='item'>Item to add to cart: </label>
    <input type='string' name='item' id='item'/>
    <input type='submit' id='submit'/>
  </p>
</form>
