
<!DOCTYPE html>
<html>
  <head>
    <title>Item to Purchase</title>
  </head>
  <body>
    <h1>Enter an item to purchase!</h1>
    <form action="/checkout" method="post">
      <h3>Item: <input type="text" name="item"></h3>
      <input type="submit" id="submit" value="Checkout">
    </form>
  </body>
</html>
