<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <h1></h1>
<form method="post" action='/checkout'>
  name <input type="text" name='item'>
  <input type="submit" value="submit">
  </form>
</body>
</html>
