<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>
  <body>
    <h1>buy stuff</h1>
    <form action="/checkout" method="post">
      <input type="text" name="item" />
      <input type="submit" id="submit"/>
    </form>
  </body>
</html>
