
<h1>Purchase Form</h1>

<form method="post" action="/checkout">

  <p>Item to purchase:<input type="text" name="item"></p>
  <br>
  <button type="submit" id="submit" value="submit">Submit</button>
</form>
