
<!DOCTYPE html>
<html>
<body>
  <h1>Buy Something</h1>
  <form action="/checkout" method="POST">
    <ul>
    <li><label for="item">Item:</label><input type="text" id="item" name="item[name]"></input></li>
    <li><input type="submit" value="Submit" id="submit">
  </ul>
  </form>
</body>
</html>
