<h1>Add to Shopping Cart</h1>

<form method="post" action="/checkout">
  <label for="item">Item to add:</label><br>
  <input type="text" name="item" id="item">
  <input type="submit" value="Submit" id="submit">
</form>
