<html>
  <head></head>
  <body>
    <center>
      <form action='/checkout' method='post'>
        <p>Item you are purchasing: <input type='text' name='item'></p>
        <input type="submit" value="submit">
      </form>
    </center>
  </body>
</html>
