<!DOCTYPE html>
<html>  
  <head>
    <meta charset="UTF-8">
    <title>Sinatra Sessions lab</title>
  </head>
  <body>
 <p>This is so cool ! You wanna buy <%= @session[:item] %> </p>
  </body>
</html>